// Font Family
$primary-font: 'Nunito Medium'; 
$primary-font-bold: 'Nunito Bold';
$primary-font-light: 'Nunito Light';
$primary-font-medium: 'Nunito Medium';
$secondary-font: 'Helvetica Light'; 
$secondary-font-bold: 'Helvetica Medium'; 

// Theme Colors
$main-color: #0392cf;
$white-color: #fff;


$border-color: #dadce0;

// Buttons
$buttonBgColor: #FFF;
$buttonBorderColor: $border-color;
$buttonFontColor: #333;
// $buttonBgColor: #0392cf;
// $buttonBorderColor: #0392cf;
// $buttonFontColor: #FFF;

// Font colors
$primary-font-color: #333;

// Font sizes
$font-lg: 18px;
$font-md: 14px;
$font-xs: 12px;


